#!/bin/bash -l

pipeuser=PIPEUSER

set -x

base=BASEDIR
mosaicdir=MOSAICDIR
mosaicnm=MOSAICNM


cd "${base}" || exit 1

if [[ -z $mosaicdir ]]
then 
    mosaicdir="mosaic"
    echo "Using directory ${mosaicdir}"
    if [[ ! -d ${mosaicdir} ]]
    then
        echo "No such directory!!"
        exit 1
    else
        cd $mosaicdir
    fi
else 
    echo "Using directory ${mosaicdir}"
    cd $mosaicdir
fi

if [[ -z ${combined_freq} ]]
then 
    combined_freq="170-231MHz"
fi 

taskid=${SLURM_ARRAY_TASK_ID}
jobid=${SLURM_ARRAY_JOB_ID}
freqs=(
    "072-080"
    "080-088"
    "088-095"
    "095-103"
    "072-103"
)
channel=${freqs[$SLURM_ARRAY_TASK_ID]}

imname="${mosaicnm}-${channel}MHz"
prior_cat="${mosaicnm}-${combined_freq}_comp.fits"

echo "jobid: ${jobid}"
echo "taskid: ${taskid}"
echo "chan: ${channel}"

og_bkg="${imname}_bkg.fits"
og_rms="${imname}_rms.fits"

if [[ ! -e ${og_bkg} ]]
then
    BANE --cores 1 ${imname}.fits
fi

if [[! -e "${imname}_firstpass.fits" ]]
then
    aegean \
    --regroup-eps 5 \
    --cores ${GXNCPUS} \
    --background "${og_bkg}" \
    --noise "${og_rms}" \
    --psf "${imname}_psfmap.fits" \
    --table "${imname}_firstpass.fits" \
    --priorized 1 \
    --input "${prior_cat}" \
    --progress \
    "${imname}.fits"

    mv ${imname}_firstpass_comp.fits ${imname}_firstpass.fits 
fi 

AeRes -c ${imname}_firstpass.fits -f ${imname}.fits -r ${imname}_resid.fits

BANE --cores 1 ${imname}_resid.fits 

mv ${imname}_bkg.fits ${imname}_firstpass_bkg.fits 
mv ${imname}_rms.fits ${imname}_firstpass_rms.fits 

mv ${imname}_resid_bkg.fits ${imname}_bkg.fits
mv ${imname}_resid_rms.fits ${imname}_rms.fits 

if [[ -e "${imname}_bkg.fits" ]]
then
    echo "There seems to be the right background file, but double check...."
    exit 0
else
    echo "Failed! Could not make new noise image... "
    exit 1
fi
