#!/bin/bash -l

pipeuser=PIPEUSER

set -x

base=BASEDIR
mosaicdir=MOSAICDIR
mosaicnm=MOSAICNM
combined_freq=COMB_FREQ


cd "${base}" || exit 1

if [[ -z $mosaicdir ]]
then 
    mosaicdir="mosaic"
    echo "Using directory ${mosaicdir}"
    if [[ ! -d ${mosaicdir} ]]
    then
        echo "No such directory!!"
        exit 1
    else
        cd $mosaicdir
    fi
else
    echo "Using directory ${mosaicdir}"
    cd $mosaicdir 
fi 

if [[ -z ${combined_freq} ]]
then 
    comb_freq="170-231MHz"
fi 

if [[ ! -e "${mosaicnm}_catalogues.csv" ]]
then 
    prep_priorized_fitting.py --mosaic "${mosaicnm}"
fi 


join_catalogues.py --epochs "${mosaicnm}_catalogues.csv" --refcat "${mosaicnm}_${comb_freq}_ddmod_comp_rescaled.fits" --out "${mosaicnm}_joined_comp.vot" --all 

join_catalogues.py --epochs "${mosaicnm}_catalogues_rescaled.csv" --refcat "${mosaicnm}_${comb_freq}_ddmod_comp_rescaled.fits" --out "${mosaicnm}_joined_rescaled_comp.vot" --all 


if [[ -e "${mosaicnm}_joined_rescaled_comp.vot" ]]
then
    echo "Combined catalogues! Successful!!"
else
    echo "Failed! Could not join catalogues"
    exit 1
fi
