#!/bin/bash -l

pipeuser=PIPEUSER

set -x

base=BASEDIR
obslist=OBSLIST
mosaicnm=MOSAICNM 

cd "${base}" || exit 1

python filter_badionosphere.py --refcat "${GXBASE}/models/NVSS_SUMSS_psfcal.fits" "${mosaicnm}.txt"