#!/bin/bash -l

pipeuser=PIPEUSER

set -x

base=BASEDIR
obslist=OBSLIST
obslist=obslist 

cd "${base}" || exit 1

filter_badionosphere.py --refcat "${GXBASE}/models/NVSS_SUMSS_psfcal.fits" "${obslist}"

good_obsidscheck=$(echo ${obslist} | cut -f1 -d".")

if [[ -e "${good_obsidscheck}_cenchan_169_good_obsids.txt" ]]
then
    echo "Quality check successful!!"
    exit 0
else
    echo "Quality check failed, cannot find the txt file with good obsids"
    exit 1
fi
