#!/bin/bash -l

pipeuser=PIPEUSER

set -x

base=BASEDIR
mosaicdir=MOSAICDIR
mosaicnm=MOSAICNM
prior_cat=PRIORCAT
extension=EXTENSION

cd "${base}" || exit 1

if [[ -z $mosaicdir ]]
then 
    mosaicdir="mosaic"
    echo "Using directory ${mosaicdir}"
    if [[ ! -d ${mosaicdir} ]]
    then
        echo "No such directory!!"
        exit 1
    else
        cd $mosaicdir
    fi
else 
    echo "Using directory ${mosaicdir}"
    cd $mosaicdir
fi

if [[ -z ${prior_cat} ]]
then 
    if [[ -z ${extension} ]]
    then
        prior_cat="${mosaicnm}_170-231MHz_${extension}_comp_rescaled.fits"
    else
        prior_cat="${mosaicnm}_170-231MHz_comp_rescaled.fits"
    fi
fi 

taskid=${SLURM_ARRAY_TASK_ID}
jobid=${SLURM_ARRAY_JOB_ID}
freqs=(
    "072-080"
    "080-088"
    "088-095"
    "095-103"
    "072-103"
    "103-111"
    "111-118"
    "118-126"
    "126-134"
    "103-134"
    "139-147"
    "147-154"
    "154-162"
    "162-170"
    "139-170"
    "170-177"
    "177-185"
    "185-193"
    "193-200"
    "170-200"
    "200-208"
    "208-216"
    "216-223"
    "223-231"
    "200-231"
)
channel=${freqs[$SLURM_ARRAY_TASK_ID]}

if [[ -z ${extension} ]]
then 
    imname="${mosaicnm}_${channel}MHz_${extension}"
else 
    imname="${mosaicnm}_${channel}MHz"
fi 

echo "jobid: ${jobid}"
echo "taskid: ${taskid}"
echo "chan: ${channel}"

# track_task.py start_mosaic  --jobid="${jobid}" --taskid="${taskid}"  --start_time="$(date +%s)"


if [[ ! -e "${imname}_prior_comp.fits" ]]
then 
    aegean \
    --regroup-eps 5 \
    --cores ${GXNCPUS} \
    --background "${imname}_bkg.fits" \
    --noise "${imname}_rms.fits" \
    --psf "${imname}_projpsf_psf.fits" \
    --table "${imname}_prior.fits" \
    --priorized 1 \
    --input "${prior_cat}" \
    --progress \
    "${imname}.fits"
fi

# TODO: add backup that if freq isn't there, will add 
mosaic_global_rescale.py "${imname}_prior_comp.fits" "${imname}.fits" "${GXBASE}/models/GGSM_sparse_unresolved.fits" --plot --verbose --apply --sigma-thres 75

# TODO: Add check if successful, need to knwo what the output of globalrescale will be 

if [[ -e "${imname}_prior_comp_rescaled.fits" ]]
then
    echo "Created priorized fit! Successful!!"
    exit 0
else
    echo "Failed! Could not make catalogue"
    exit 1
fi
